@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">NOT ALL HEROES WEAR CAPES<br />BUT THEY DO WEAR MASKS<br />#COVID</h1>
    <img src="~/Images/maxresdefault.jpg" alt="The Coon" style="width: 640px; height: 360px;" />
</div>