@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">NOT ALL HEROES WEAR CAPES<br />BUT THEY DO WEAR MASKS<br />#COVID/h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <img src="~/Images/maxresdefault.jpg" />
</div>